<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li><img src="/res/site/img/h4-slide.png" alt="Slide"></li>
            <li><img src="/res/site/img/h4-slide2.png" alt="Slide"></li>
            <li><img src="/res/site/img/h4-slide3.png" alt="Slide"></li>
            <li><img src="/res/site/img/h4-slide4.png" alt="Slide"></li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <h2 class="section-acting">Atuação</h2>
        <div class="col-md-4 col-sm-6">
            <div class="single-promo promo1">
                <i class="fa fa-group"></i>
                <p>Família</p>
                <div class="laws">
                    <label>- Divórcio judicial e extrajudicial;</label><br>
                    <label>- Reconhecimento e dissolução de união estável;</label><br>
                    <label>- Consultoria e planejamento matrimonial;</label><br>
                    <label>- Ação de alimentos (fixação e revisão de pensão);</label><br>
                    <label>- Guarda e regulamentação de visitas.</label><br>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-promo promo2">
                <i class="fa fa-shopping-cart"></i>
                <p>Consumidor</p>
                <div class="laws">
                    <label>- Planejamento Sucessório;</label><br>
                    <label>- Inventários;</label><br>
                    <label>- Doações;</label><br>
                    <label>- Testamento;</label><br>
                    <label>- Anulação de partilha;</label><br>
                    <label>- Anulação e revogação de testamento.</label><br>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-promo promo3">
                <i class="fa fa-gavel"></i>
                <p>Sucessões</p>
                <div class="laws">
                    <label>- Planejamento Sucessório;</label><br>
                    <label>- Inventários;</label><br>
                    <label>- Doações;</label><br>
                    <label>- Testamento;</label><br>
                    <label>- Anulação de partilha;</label><br>
                    <label>- Anulação e revogação de testamento.</label><br>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- End promo area -->
<div id="address"><br><br></div>
<div class="maincontent-area">
<div class="zigzag-bottom"></div>
<div class="container">
    <h2 class="section-title">Endereço</h2>
    <iframe id="map"
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3576.673759435843!2d-48.846060250600864!3d-26.30467411121345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1cfb2ac7661207ba!2sJhemila%20Rey%20Advocacia!5e0!3m2!1spt-BR!2sbr!4v1644927418447!5m2!1spt-BR!2sbr"
				width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
</div>
</div> <!-- End main content area -->

<div class="brands-area">
<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>alguma coisa aqui</p>
        </div>
    </div>
</div>
</div> <!-- End brands area -->