<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li><img src="/res/site/img/h4-slide.png" alt="Slide"></li>
            <li><img src="/res/site/img/h4-slide2.png" alt="Slide"></li>
            <li><img src="/res/site/img/h4-slide3.png" alt="Slide"></li>
            <li><img src="/res/site/img/h4-slide4.png" alt="Slide"></li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <h2 class="section-acting">Atuação</h2>
        <hr style="border-color: #FFFFFF">
        <div class="col-md-4 col-sm-6">
            <div class="single-promo promo1">
                <i class="fa fa-group"></i>
                <p>Família</p>
                <div class="laws">
                    <label>- Divórcio judicial e extrajudicial;</label><br>
                    <label>- Reconhecimento e dissolução de união estável;</label><br>
                    <label>- Consultoria e planejamento matrimonial;</label><br>
                    <label>- Ação de alimentos (fixação e revisão de pensão);</label><br>
                    <label>- Guarda e regulamentação de visitas.</label><br>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-promo promo2">
                <i class="fa fa-shopping-cart"></i>
                <p>Consumidor</p>
                <div class="laws">
                    <label>- Planejamento Sucessório;</label><br>
                    <label>- Inventários;</label><br>
                    <label>- Doações;</label><br>
                    <label>- Testamento;</label><br>
                    <label>- Anulação de partilha;</label><br>
                    <label>- Anulação e revogação de testamento.</label><br>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-promo promo3">
                <i class="fa fa-gavel"></i>
                <p>Sucessões</p>
                <div class="laws">
                    <label>- Planejamento Sucessório;</label><br>
                    <label>- Inventários;</label><br>
                    <label>- Doações;</label><br>
                    <label>- Testamento;</label><br>
                    <label>- Anulação de partilha;</label><br>
                    <label>- Anulação e revogação de testamento.</label><br>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- End promo area -->


<div class="brands-area" id="about-me">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Sobre mim</h2>
                <hr>
                <div class="col-sm-6">
                    <img src="/res/site/img/sobre-mim.jpeg" class="about-me-image" alt="Sobre mim">
                </div>
                <div class="col-sm-6">
                    <div class="about-me-description">
                        <h2>Jhemila Paula Rey</h2>
                        <h5>Advogada, OAB/SC 58.898</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iusto, reiciendis eaque vero explicabo sed praesentium perferendis odit at voluptatum tenetur voluptatibus quis tempora error iste itaque tempore, quaerat ipsam.</p>
                        <p>Porro numquam quo nemo quia odit sit necessitatibus vel, eius dolores ratione dicta. Quia quaerat modi molestias eveniet maxime iste nobis vel. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi tempore maiores, culpa eveniet molestias saepe atque in totam iste tenetur commodi quaerat exercitationem cupiditate mollitia facilis sed accusantium cum necessitatibus?</p>
                        <hr>
                        <br>
                        <h2>Me siga nas redes sociais!</h2>
                        <div class="footer-social">
                            <a href="https://www.instagram.com/jhemilapaularey/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/jhemila-paula-rey-7a9b211a5/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/jhemilapaularey" target="_blank"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


<div id="address"><br><br></div>
<div class="maincontent-area">
<div class="zigzag-bottom"></div>
<div class="container">
    <h2 class="section-title">Endereço</h2>
    <iframe id="map"
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3576.673759435843!2d-48.846060250600864!3d-26.30467411121345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1cfb2ac7661207ba!2sJhemila%20Rey%20Advocacia!5e0!3m2!1spt-BR!2sbr!4v1644927418447!5m2!1spt-BR!2sbr"
				width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
    <hr>
    <div class="container-address">
        <div class="row">
            <div class="col-sm-6">
                <div class="address-1">
                    <p>Condomínio Centro Comercial, Sala 908, Bloco B</p>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="address-2">
                    <p>Av. Juscelino Kubitschek, 410, Centro, Joinville.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- End main content area -->

<div class="brands-area" id="contact">
<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title">Entre em contato</h2>
            <hr>
            <div class="col-sm-6"  style="font-size: 20px; margin-top: 5px;">
                <i class="fa fa-envelope"> | Email: <a href="mailto:jhemilarey@gmail.com">jhemilarey@gmail.com</a></i><br>
                <i class="fa fa-phone-square"> | Whatsapp: <a href="https://api.whatsapp.com/send?phone=5547997516606&text=Ol%C3%A1!%20Gostaria%20de%20marcar%20um%20hor%C3%A1rio!" target="_blank">(47) 99751-6606</a></i><br>
                <i class="fa fa-instagram"> | Instagram: <a href="https://www.instagram.com/jhemilapaularey/">@jhemilapaularey</a></i><hr>
                <i>Atendimento online ou presencial mediante agendamento.</i>
            </div>
            <div class="col-sm-6">
                
            </div>
        </div>
    </div>
</div>
</div> <!-- End brands area -->