<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <img src="/res/site/img/home-page.png" alt="Home">
    </div>
    <!-- ./Slider -->
    <div class="contact-button">
        <div class="home-page-button">
            <div class="whatsapp-button">
                <a href="https://api.whatsapp.com/send?phone=5547997516606&text=Ol%C3%A1!%20Gostaria%20de%20marcar%20um%20hor%C3%A1rio!" target="_blank">
                    <img src="/res/site/img/whatsapp.png" class="whatsapp-logo" alt="Whatsapp">Chamar no WhatsApp
                </a>
            </div>
        </div>
    </div>
</div> <!-- End slider area -->

<div class="promo-area">
<div class="zigzag-bottom"><hr style="border-color: #FFFFFF"></div>
<hr>
<div class="container">
    <div class="row action">
        <h2 class="section-acting">Atuação</h2>
        <hr style="border-color: #FFFFFF">
        <div>
            <div class="single-promo promo1">
                <i class="fa fa-money"></i>
                <p>Pensão Alimentícia</p>
                <div class="laws">
                    <label>- Fixação;</label><br>
                    <label>- Revisão;</label><br>
                    <label>- Execução;</label><br>
                    <label>- Exoneração.</label>
                </div>
            </div>
        </div>
        <div>
            <div class="single-promo promo2">
                <i class="fa fa-gavel"></i>
                <p>Divórcio</p>
                <div class="laws">
                    <label>- Litigioso;</label><br>
                    <label>- Consensual;</label><br>
                    <label>- Judicial;</label><br>
                    <label>- Cartório.</label>
                </div>
            </div>
        </div>
        <div>
            <div class="single-promo promo3">
                <i class="fa fa-child"></i>
                <p>Guarda</p>
                <div class="laws">
                    <label>- Guarda Unilateral;</label><br>
                    <label>- Guarda Compartilhada;</label><br>
                    <label>- Guarda Alternada.</label>
                </div>
            </div>
        </div>
        <div>
            <div class="single-promo promo3">
                <i class="fa fa-home"></i>
                <p>União Estável</p>
                <div class="laws">
                    <label>- Reconhecimento;</label><br>
                    <label>- Dissolução;</label><br>
                    <label>- Judicial;</label><br>
                    <label>- União em Cartório.</label>
                </div>
            </div>
        </div>
        <div>
            <div class="single-promo promo4">
                <i class="fa fa-group"></i>
                <p>Regulamentação de Visitas</p>
                <div class="laws">
                    <label>- Acordo de visitas para convivência com os filhos.</label>
                </div>
            </div>
        </div>
        <div>
            <div class="single-promo promo4">
                <i class="fa fa-search"></i>
                <p>Investigação de Paternidade</p>
                <div class="laws">
                    <label>-  Investigação da identidade biológica do pai.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-button-2">
        <div class="home-page-button">
            <div class="whatsapp-button">
                <a href="https://api.whatsapp.com/send?phone=5547997516606&text=Ol%C3%A1!%20Gostaria%20de%20marcar%20um%20hor%C3%A1rio!" target="_blank">
                    <img src="/res/site/img/whatsapp.png" class="whatsapp-logo" alt="Whatsapp">Chamar no WhatsApp
                </a>
            </div>
        </div>
    </div>
</div>
</div> <!-- End promo area -->


<div class="brands-area" id="about-me">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Sobre mim</h2>
                <hr>
                <div class="col-sm-6">
                    <img src="/res/site/img/sobre-mim.jpeg" class="about-me-image" alt="Sobre mim">
                </div>
                <div class="col-sm-6">
                    <div class="about-me-description">
                        <h2>Jhemila Paula Rey</h2>
                        <h5>Advogada, OAB/SC 58.898</h5>
                        <p>A Dra. Jhemila Paula Rey graduou-se em Direito pela Universidade da Região de Joinville – Univille e é pós-graduanda em Direito de Família e Sucessões pela Faculdade Legale.</p>
                        <p>Atua nas áreas de direito família e civil. Atende seus clientes de forma humanizada, sendo menos desgastante para as partes.</p>
                        <q><i>Um bom advogado vai além do serviço prestado. É a confiança para uma parceria duradoura.</i></q><span> – Beatriz Mello</span>
                        <hr>
                        <br>
                        <h2>Me siga nas redes sociais!</h2>
                        <div class="footer-social">
                            <a href="https://www.instagram.com/jhemilapaularey/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/jhemila-paula-rey-7a9b211a5/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/jhemilapaularey" target="_blank"><i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="contact-button-2">
                            <div class="home-page-button">
                                <div class="whatsapp-button">
                                    <a href="https://api.whatsapp.com/send?phone=5547997516606&text=Ol%C3%A1!%20Gostaria%20de%20marcar%20um%20hor%C3%A1rio!" target="_blank">
                                        <img src="/res/site/img/whatsapp.png" class="whatsapp-logo" alt="Whatsapp">Chamar no WhatsApp
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<hr>
<div id="address"><br><br></div>
<div class="maincontent-area">
<div class="zigzag-bottom"></div>
<div class="container">
    <h2 class="section-title">Endereço</h2>
    <iframe id="map"
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3576.673759435843!2d-48.846060250600864!3d-26.30467411121345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1cfb2ac7661207ba!2sJhemila%20Rey%20Advocacia!5e0!3m2!1spt-BR!2sbr!4v1644927418447!5m2!1spt-BR!2sbr"
				width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
    <hr>
    <div class="container-address">
        <div class="row">
            <div class="col-sm-6">
                <div class="address-1">
                    <p>Condomínio Centro Comercial, Sala 908, Bloco B</p>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="address-2">
                    <p>Av. Juscelino Kubitschek, 410, Centro, Joinville.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- End main content area -->

<div class="brands-area" id="contact">
<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title">Entre em contato</h2>
            <hr>
            <div class="col-sm-6"  style="font-size: 20px; margin-top: 5px;">
                <i class="fa fa-envelope"> | Email: <a href="mailto:jhemilarey@gmail.com">jhemilarey@gmail.com</a></i><br>
                <i class="fa fa-phone-square"> | Whatsapp: <a href="https://api.whatsapp.com/send?phone=5547997516606&text=Ol%C3%A1!%20Gostaria%20de%20marcar%20um%20hor%C3%A1rio!" target="_blank">(47) 99751-6606</a></i><br>
                <i class="fa fa-instagram"> | Instagram: <a href="https://www.instagram.com/jhemilapaularey/" target="_blank">@jhemilapaularey</a></i><hr>
                <!-- <i>Atendimento online ou presencial mediante agendamento.</i> -->
            </div>
            <div class="col-sm-6">
                
            </div>
        </div>
    </div>
</div>
</div> <!-- End brands area -->