@media only screen and (min-width: 992px) and (max-width: 1280px) { 
div.cart-collaterals ul.products li.product {
  float: left;
  margin-left: 30px;
  position: relative;
  width: 160px;
}
.coupon input[type="text"] {
  width: 100px;
}  
input[type="submit"], button[type="submit"] {
  padding: 11px 15px;
} 
.col-1, .col-2 {
  width: 293px;
}

.contact-button {
  margin: 0 auto;
  position: absolute;
  top: 65%;
  right: 4%;
}

.contact-button-footer {
  margin: 0 auto;
  position: absolute;
  top: 60%;
  right: 20%;
}

.home-page-button {
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 18px;
  margin-top: 55px;
  width: 300px;
  text-align: center;
  background-color: #2BB741;
}
    
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.user-menu, .header-right ul.list-inline {
  text-align: center;
}
.mainmenu-area ul.navbar-nav li a {
  font-size: 14px;
  padding: 15px 10px;
}  
.single-promo {margin-bottom: 30px}    
.single-product-widget, .footer-about-us, .footer-menu {
  margin-bottom: 60px;
}
    
    
.product-widget-area .zigzag-bottom {
  bottom: -50px;
  height: 100px;
}
.product-widget-area {
  padding-bottom: 90px;
}   
    
.footer-top-area .zigzag-bottom {
  bottom: -153px;
  height: 200px;
}    
.footer-top-area {
  padding: 35px 0 125px;
}  
div.cart-collaterals ul.products li.product {
  width: 190px;
}  
    
.col-1, .col-2 {
  width: 345px;
}   

.contact-button {
  margin: 0 auto;
  position: absolute;
  top: 60%;
  right: 4%;
}

.contact-button-footer {
  margin: 0 auto;
  position: absolute;
  top: -75%;
  right: 15%;
}

.home-page-button {
  padding: 5px 2px;
  border-radius: 2px;
  font-size: 16px;
  margin-top: 55px;
  width: 250px;
  text-align: center;
  background-color: #2BB741;
}

.about-me-description {
  font-size: 120%;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    
.user-menu, .header-right ul.list-inline {
  text-align: center;
}  
.logo h1 {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
} 
.shopping-item {
  float: none;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}  
.navbar-header {
  text-align: center;
}    
    
.navbar-toggle {
    border-color: #fff;
    float: none;
    margin: 10px auto;
}
.navbar-toggle .icon-bar { background: none repeat scroll 0 0 #fff }  
.navbar-collapse.collapse.in {
  background: none repeat scroll 0 0 #b17978;
  position: relative;
  z-index: 99;
} 
.mainmenu-area ul.navbar-nav li a {
  padding: 15px;
}  
.mainmenu-area {position: relative !important}
.slide-text {
  font-size: 16px;
}  
.slide-text h2 {
  font-size: 30px;
}  
.readmore {
  font-size: 16px;
  padding: 8px 20px;
}    
.single-promo {
  margin-bottom: 30px;
} 
.section-title {
  font-size: 35px;
}  
    
    
.product-widget-area .zigzag-bottom {
  bottom: -50px;
  height: 100px;
}
.product-widget-area {
  padding-bottom: 90px;
}   
    
.footer-top-area .zigzag-bottom {
  bottom: -153px;
  height: 200px;
}    
.footer-top-area {
  padding: 35px 0 125px;
} 
    
.single-product-widget, .footer-about-us, .footer-menu {
  margin-bottom: 60px;
}  
    
.product-wid-title {
  font-size: 25px;
}  
    
.related-products-wrapper .owl-nav {
  left: -15px;
  position: relative;
  right: inherit;
  top: 15px;
}  
div.cart-collaterals ul.products {
  margin: 0;
}  
div.cart-collaterals ul.products li.product {
  margin-bottom: 30px;
  margin-left: 0;
  width: 100%;
}  
div.cart-collaterals ul.products li.product img {width: 100%}  
    
.product-bit-title h2 {
  font-size: 35px;
  padding: 40px 0;
}  
.col2-set {
  margin-left: 0;
}    
.col-1, .col-2 {
  float: none;
  margin-left: 0;
  width: inherit;
}    
    
    
/* Special */    
    
table.shop_table th, table.shop_table td {
  font-size: 12px;
  padding: 5px;
}    
td.product-thumbnail img {
  width: 30px;
} 
    
div.quantity input.plus, div.quantity input.minus {
  display: none;
}   
table.shop_table th {
  font-size: 12px;
}    
div.coupon input[type="text"] {
  width: 100px;
} 
.coupon {margin-bottom: 10px}      
.cross-sells {
  float: none;
  margin-bottom: 30px;
  margin-right: 0;
  width: 100%;
}  
.cart_totals, .cart-collaterals .shipping_calculator {
  float: none;
  margin-bottom: 40px;
  width: 100%;
}  

.contact-button {
  margin: 0 auto;
  position: absolute;
  top: 78%;
  right: 30%;
}

.contact-button-footer {
  margin: 0 auto;
  position: absolute;
  top: -60%;
  right: 30%;
}

.home-page-button {
  padding: 5px 2px;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 55px;
  width: 300px;
  text-align: center;
  background-color: #2BB741;
}

.about-me-image {
  border-radius: 50px;
  margin-left: 18%;
}

.user-menu{float: left;}

.header-right{float: right;}

.address-1 {text-align: center;}
.address-2 {text-align: center;}

.copyright{float:left; width: 75%;}

#resp-title {
  font-size: 80%;
  margin-bottom: 8%
}
    
.about-me-description {
  font-size: 120%;
}
    
}


/* Wide Mobile Layout: 630px. */
@media only screen and (min-width: 581px) and (max-width: 630px) { 
    
  .contact-button {
    top: 71%;
    right: 25%;
  }
  
  .contact-button-footer {
    margin: 0 auto;
    position: absolute;
    top: -70%;
    right: 26%;
  }

  .home-page-button {
    font-size: 20px;
    width: 300px;
  }

  .copyright{float:left; width: 70%;}

  #resp-title {
    font-size: 100%;
    margin-bottom: 4%
  }

  #resp-title-2 {
    font-size: 100%;
  }

  .about-me-image {
    margin-left: 10%;
  }

  .section-acting {
    margin-left: -35%;
  }
  
  .action {
    grid-template-columns: 1fr 1fr;
  }
  
  #hr-action {
    display: none;
  }

  .p-action {
    display: none;
  }

  .about-me-description {
    font-size: 120%;
  }
    
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 350px) and (max-width: 580px) { 
  
.user-menu{float: none;}

.header-right{float: none; padding-left: 5%;}

.contact-button {
  top: 67%;
  right: 23%;
}

.contact-button-footer {
  margin: 0 auto;
  position: absolute;
  top: -75%;
  right: 25%;
}

.action {
  grid-template-columns: 400px;
  justify-content: center;
}

.about-me-image {
  margin-left: 8%;
}

.copyright{float:none; width: 100%; text-align: center;}

.footer-card-icon {
  text-align: center;
}

    
}

@media only screen and (min-width: 350px) and (max-width: 570px) { 

  .about-me-image {
    margin-left: 5%;
  }

}

@media only screen and (min-width: 350px) and (max-width: 530px) { 

.header-right{float: none; padding-left: 8%;}


  .about-me-image {
    margin-left: 2%;
  }

  .contact-button-footer {
    margin: 0 auto;
    position: absolute;
    top: -80%;
    right: 23%;
  }

}

@media only screen and (min-width: 350px) and (max-width: 480px) { 

  .about-me-image {
    margin-left: 0%;
  }

  .contact-button {
    top: 62%;
    right: 20%;
  }

  .contact-button-footer {
    margin: 0 auto;
    position: absolute;
    top: -90%;
    right: 20%;
  }

}

@media only screen and (min-width: 350px) and (max-width: 430px) { 

  .header-right{float: none; padding-left: 10%;}


  .about-me-image {
    margin-left: 0%;
  }

  .contact-button {
    top: 58%;
    right: 15%;
  }

  .contact-button-footer {
    margin: 0 auto;
    position: absolute;
    top: -105%;
    right: 15%;
  }

}

@media only screen and (min-width: 350px) and (max-width: 414px) { 

  .header-right{float: none; padding-left: 12%;}

  .about-me-image {
    margin-left: 0%;
  }

  .contact-button {
    top: 58%;
    right: 13%;
  }

  .contact-button-footer {
    margin: 0 auto;
    position: absolute;
    top: -105%;
    right: 13%;
  }

}


@media only screen and (min-width: 350px) and (max-width: 390px) { 

  .header-right{float: none; padding-left: 13%;}

  .about-me-image {
    margin-left: 0%;
  }

  .contact-button {
    top: 58%;
    right: 11.5%;
  }

  .contact-button-footer {
    margin: 0 auto;
    position: absolute;
    top: -105%;
    right: 11.5%;
  }

}


@media only screen and (min-width: 350px) and (max-width: 375px) { 

  .header-right{float: none; padding-left: 12%; margin-left: 0 auto; font-size: 95%;}

  .about-me-image {
    margin-left: 0%;
  }

  .contact-button {
    top: 51%;
    right: 9%;
  }

  .contact-button-footer {
    margin: 0 auto;
    position: absolute;
    top: -120%;
    right: 9%;
  }

.copyright{float:none; width: 100%; text-align: center; font-size: 90%;}


}